<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <!-- <h1>This is great</h1> -->
        <h1>Bro Do this thing please</h1>
        <img src="/images/Vjs.png" width="100%" alt="Image is not available">
    </div>
</main>

<!--footer>
    < < % include ./partials/footer %> >
</footer -->

</body>
</html>