<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <% include ./partials/head %>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    


</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron" style="padding: 2rem;width: 100%;">
        <h1></h1>
        <div id="over" >
        <div id="player">
            
            </div>
        </div>
        <div class="container">
            <div class="row">
            </br>
              <div class="col-sm-1 glyphicon glyphicon-play-circle" style="max-width: fit-content;" onclick=play()>
               
              </div>
              <div class="col-sm-1 glyphicon glyphicon-pause" onclick=pause() >
              </div>
              <div class="col-sm-1 glyphicon glyphicon-stop" onclick=stopVideo() >
            </div>
            <div class="col-sm-1 glyphicon glyphicon-step-forward" onclick=next() >
            </div>
              <div class="col-sm-7 " id="custom-seekbar">
                <span><div id="indiv"><span></span></div></span>
              </div>
              <div class="col-sm-1" id="current-time"></div>
            </div>
          </div>
        <input id="names" ng-model="name"> UserName :  {{ name }}
        <!-- <button id="lock" class="glyphicon glyphicon-lock" onclick="lockname()"></button> -->
        <br/>
        <br/>
        <form id="chat">
            <input id="m" autocomplete="off" />&nbsp&nbsp<button>Send</button>
        </form>
    <br/>

    <ul id="messages"></ul>


    <form action="/playlists" id="add" method="post">
        <input id="listname" type="text" name="list" autocomplete="off" /><br/>
        <input id="type" type="text" name="listtype" autocomplete="off" />&nbsp&nbsp
        <input type="submit" value="submit">
    </form>
    <form action="/playlists" method="get"><input type="search" value="get"></form>
        
    <!-- <form action="/playlists" method="post">?
        <input type="text" name="listname">
        <input type="text" name="listtype">
        <input type="submit" value="Submit">
    </form> -->
    </div>
</main>

<!--footer>
    < < % include ./partials/footer %> >
</footer -->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script>

var i;

var socket = io();
socket.on('i', function(msg){
            i=msg;
        });

// const addList = document.querySelector('.addBooks')
// addList.addEventListener('submit', (e) => {
//   e.preventDefault()
//   const List = addList.querySelector('#listname').value;
//   const listtype = addList.querySelector('#type').value;
//   post('/playlists', { List, listtype });
//   console.log(List,listtype);
  
  
// })

    $(function () {
        var socket = io();
        $('#chat').submit(function(e){
          e.preventDefault(); // prevents page reloading
          socket.emit('chat message', $('#names').val()+ "   :  " +$('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
        });
        socket.on('i', function(msg){
            if(i!=msg)
                player.playVideoAt(msg);
            i=msg;
        });
        socket.on('next', function(msg){
          player.playVideoAt(msg);
        });
        socket.on('seek', function(msg){
          player.seekTo(msg);
        });



        socket.on('play', function(msg){
    $("#player").css("visibility", "visible");
          player.playVideo();
          player.seekTo(msg);
          player.playVideo();
          
        });
        socket.on('pause', function(msg){
    
          player.pauseVideo();
          player.seekTo(msg);
          
        });
    socket.on('stop', function(msg){
            i=msg;
    player.playVideoAt(i);
    player.stopVideo();
    
  });
  socket.on('seek', function(msg){
    player.seekTo(msg);
  });
      });//in
    
        
    function log(){
        console.log("hi");
        
        console.log(player.getCurrentTime());
        
    }
    
    
        function play(){
            $("#player").css("visibility", "visible");
            // socket.emit('i', i);
          socket.emit('play', player.getCurrentTime());
          player.playVideo();
        //   console.log(player.getCurrentTime());
            if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
            console.log("play me senpai");  
        }


        function pause(){
            socket.emit('i', i);
            socket.emit('pause', player.getCurrentTime());
            player.pauseVideo(); 
            if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
            console.log("pause senpai");
        }

        function stopVideo() {
            socket.emit('stop', i);
        player.stopVideo();
        console.log("stop senpai");
        }
    
        function next(){

            i=i>=42?0:i+1;
            socket.emit('i', i);
            socket.emit('next',i)
            player.nextVideo(); 
            if (event.data == YT.PlayerState.PLAYING && !done) {
            setTimeout(stopVideo, 6000);
            done = true;
        }
            console.log("next senpai");
        }
    

// function lockname(){
//     if($("#lock")==true){
//         name=$("#lock");
//     }
    
// }

        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        // var i=null;
        function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            'max-results' : 2,
            // height: '390',
            // height: 'relative',
            width: '100%',

            frameborder:'0',
            shuffle:0,
            // listType: 'playlist',
            // list: '',
            // videoId: 'E_cTdhd88mk',
            
            
    
            events: {
            'onReady': onPlayerReady,
            },
            playerVars : {
            // 'autoplay': 1,
            listType: 'playlist',
            // listType: 'user_uploads',
            // list: 'PLf4ff3CDBpnbFFYOiQqhO7kxZLD_8WNig',
            list: 'UUaM-XmpUbe5aXOY9lvp6-Eg',
            index: i,
            'autohide': 1,
            // i==null?2:i,
                // list: 'UCAGpAMprjGtyK4N0pSuVbaw',
                // channel_id:'UCAGpAMprjGtyK4N0pSuVbaw',
            // index:1,
            'controls': 0,
            'enablejsapi': 1,
            'disablekb': 1,
            'modestbranding': 1,
            'rel': 0,
            // 'play':0
            'autoplay': 0
            },
        });
        }
        
        
    
    
        var time_update_interval;
    
    
        function onPlayerReady() {
            // updateTimerDisplay();
            updateProgressBar();
            clearInterval(time_update_interval);
            console.log(player.getCurrentTime());
            $("#player").css("visibility", "hidden");
            // player.seekTo();       
        time_update_interval = setInterval(function () {
            updateTimerDisplay();
            updateProgressBar();
            // console.log(length);
        }, 1000)
        }//initiation of player
    
        var done = false;
        
    
    
        function updateTimerDisplay(){
        // console.log("dodo");
        // Update current time text display.
        $('#current-time').text(formatTime( player.getCurrentTime() )+"/"+ formatTime( player.getDuration() ));
        // $('#duration').text(formatTime( player.getDuration() ));
        console.log(player.getCurrentTime());
    }
    
    function formatTime(time){
        console.log(time);
        time = Math.round(time);
        var minutes = Math.floor(time / 60),
        seconds = time - minutes * 60;
        seconds = seconds < 10 ? '0' + seconds : seconds;
        return minutes + ":" + seconds;
    }
    
    
    
    
    function updateProgressBar(){
        // $("#nowtime").val = formatTime(player.getCurrentTime());
        // console.log("something"+$("#nowtime"));
      var percentage = ( player.getCurrentTime() / player.getDuration() ) * 100;
      $("#custom-seekbar span").css("width", percentage+"%");
      $("#indiv span").css("width", player.getVideoLoadedFraction()*100+"%");
    }
    
    $("#custom-seekbar").on("click", function(e){

        console.log(player.getCurrentTime());
        var offset = $(this).offset();
        var left = (e.pageX - offset.left);
        var totalWidth = $("#custom-seekbar").width();
        var percentage = ( left / totalWidth );
        var vidTime = player.getDuration() * percentage;
        console.log(vidTime);
        player.seekTo(vidTime);
        socket.emit('seek',vidTime);
    
    });//click()
    
    
    
    $('.iv-card').on('hover', function () {
        console.log("thumb");
        
    
    var url = $(this).attr('iv-click-target');
    
    player.cueVideoById(url);
    
    });
    
    $('.thumbnail').on('hover', function () {
        console.log("thumb");
        
    
    var url = $(this).attr('data-video-id');
    
    player.cueVideoById(url);
    
    });
    
    //Seekbar
    </script>
</html>
